.carouselExampleCaptions
{
             background-color: #5296A5;  
            opacity: .8;    
          border-radius: 20px;   
           color: #ffffff;     
         h5 {             font-size: 18px;    
                 font-family: 'Chau Philomene One', sans-serif;      
               margin-top: 10px;      
               p {                 font-size: 16px;      
                       font-family: 'Chau Philomene One', sans-serif;       
              }         }     }